# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias grep='grep --color=auto'
fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Easier navigation: .., ..., ...., ....., ~ and -
alias -- -='cd -'
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias d="cd ~/Documents"
alias dl="cd ~/Téléchargements"
alias w="cd ~/workspace"
alias g="LANGUAGE=en_US.UTF-8 git"
alias h="history"

#symfony
alias sf="php app/console"

#scripts
alias standup="sh ~/scripts/git-standup.sh"
alias meteo="curl -4 wttr.in/Lyon"
