alias ls="ls --color=auto"
alias ll="ls -ahlF"
alias dir="dir --color=auto"
alias grep="grep --color=auto"

# Easier navigation: .., ..., ...., ....., ~ and -
alias -- -="cd -"
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias app="cd ~/app"
alias bin="cd ~/bin"
alias dl="cd ~/Downloads"
alias w="cd ~/workspace"

# Other
alias h="history"

# symfony
alias sf2="php app/console"
alias sf3="php bin/console"

# docker
alias d="docker"
complete -F _complete_alias d
alias dexec="docker exec -it"
alias drun="docker run --rm -it"
alias dlog="docker logs -f"

alias dm="docker-machine"
alias dc="docker-compose"
complete -F _complete_alias dc

# heroku
alias h="heroku"
complete -F _complete_alias h
alias hlog="heroku logs -n 1000 -s app -t -a"

# kube
alias k="kubectl"
complete -F __start_kubectl k
alias kx="kubectx"
alias knode="kubectl get node"
alias kpod="kubectl get pod"

# aws
alias aws-preprod="aws --profile tf-terraform-developer-preprod"
complete -F _complete_alias aws-preprod
alias aws-prod="aws --profile tf-terraform-developer-prod"
complete -F _complete_alias aws-prod

# terraform
alias tf="terraform"
complete -F _complete_alias tf
alias tg="terragrunt"
complete -F _complete_alias tg

# git
alias git-hot-files="git log --pretty=format: --name-only | sort | uniq -c | sort -rg | head -10"
alias moji="gitmoji -c"

# task
#alias task="npx task"

# scripts
alias standup="sh ~/scripts/git-standup.sh"
alias meteo="curl -4 wttr.in/Lyon"
alias dog="pygmentize -g"
alias mp3="ydl -x --audio-format mp3 --audio-quality 0"
alias mp4="ydl -f 22"

# TODO: put into functions
alias sandbox-focal-generic="docker run -it --rm -v /home/romainprignon/workspace/romainprignon/dotfiles:/root ubuntu:20.04"
alias sandbox-focal-init="docker run -it --rm -v /home/romainprignon/workspace/romainprignon/dotfiles:/home/romainprignon/workspace/romainprignon/dotfiles romainprignon/desktop/ubuntu/focal:template"
alias sandbox-focal-latest="docker run -it --rm -v /home/romainprignon/workspace/romainprignon/dotfiles:/home/romainprignon/workspace/romainprignon/dotfiles romainprignon/desktop/ubuntu/focal:latest"

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
