# open the result of a command in sublime
function sublime()
{
    "$@" > ~/$$.txt
    subl ~/$$.txt
    #rm ~/$$.txt
}

function docker_rm_container()
{
    docker rm $(docker ps -a -q)
}

function docker_rm_image()
{
    IMAGE_IDS=$(docker images | grep "^<none>" | awk "{print $3}")

    if [ -n "$IMAGE_IDS" ]; then
      docker rmi $IMAGE_IDS > /dev/null 2>&1
    fi
}
