function webm-to-gif() {
    ffmpeg -i $1 -pix_fmt rgb8 $2
}

function record-terminal() {
    ttystudio --interval=150 --delay=150 --no-palette ~/Downloads/$1
}

function superkill() {
    sudo kill `sudo lsof -t -i:$1`
}

function supertouch() {
    for f in "$@"; do mkdir -p "$(dirname "$f")"; done
    touch "$@"
}

function shtd {
    shutdown +$1
}

function monit {
    eval "$1" & top -p $!
}

function sandbox {
    name=$1
    type=$2
    rm=$3

    case "$type" in
    generic) image="ubuntu:20.04";volume="-v $name:/root" ;;
    min) image="romainprignon/ubuntu/focal:latest";volume="-v $name:/home/romainprignon" ;;
    full) image="romainprignon/desktop/ubuntu/focal:latest";volume="-v $name:/home/romainprignon" ;;
    *) image="ubuntu:20.04";volume="-v $name:/root" ;;
    esac

    mkdir -p $HOME/sandbox/$name
    docker volume create --driver local \
        --opt type=none \
        --opt device=$HOME/sandbox/$name \
        --opt o=bind \
        $name

    network="--network host"

    docker start -ai $name || docker run -it --name $name $volume $network $image

    if [ "$rm" == "--rm" ]; then
        docker rm $name
        docker volume rm $name
        sudo rm -rf $HOME/sandbox/$name
    fi
}
