# open the result of a command in sublime
function sublime()
{
    "$@" > ~/$$.txt
    subl ~/$$.txt
    #rm ~/$$.txt
}

function docker-rm-container()
{
    docker rm $(docker ps -a -q)
}

function docker-rm-image()
{
    IMAGE_IDS=$(docker images | grep "^<none>" | awk "{print $3}")

    if [ -n "$IMAGE_IDS" ]; then
      docker rmi $IMAGE_IDS > /dev/null 2>&1
    fi
}

function clean-docker()
{
    docker rmi $(docker images -q -f dangling=true)
    docker volume rm $(docker volume ls -qf dangling=true)
}

function set-git-user()
{
    git config user.name "Romain Prignon"
    git config user.email "pro.rprignon@gmail.com"
}

function install-atom-package()
{
    apm install --packages-file $HOME/backup/atom/package-list.txt
}

function webm-to-gif() {
    ffmpeg -i $1 -pix_fmt rgb8 $2
}

function kill-on-port() {
    sudo kill `sudo lsof -t -i:$1`
}
