[user]
    name = Romain Prignon
    email = pro.rprignon@gmail.com
[alias]
	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	# common command
	st = status
	cl = clone
	clr = clone --recursive
	co = checkout
	cob = checkout -B
	cp = cherry-pick
	ci = commit
	cim = commit -m
	br = branch
	rb = rebase
	rbi = rebase -i

	# Pull
    pl   	= pull
    plr  	= pull --rebase

    plo 	= pull origin
    plro 	= pull --rebase origin

    plom 	= pull origin master
    plog 	= pull origin gh-pages
    plod 	= pull origin develop
    plos 	= pull origin staging

    plrom 	= pull --rebase origin master
    plrog 	= pull --rebase origin gh-pages
    plrod 	= pull --rebase origin develop
    plros 	= pull --rebase origin staging

    plu  	= pull upstream
    plru  	= pull --rebase upstream

    plrum	= pull upstream master
    plrum	= pull --rebase upstream master

    # Push
    ps   = push
    pso  = push origin

    psom = push origin master
    psod = push origin develop
    psos = push origin staging
    psog = push origin gh-pages

    psu  = push upstream
    psum = push upstream master


	#submodule section
	# Pull in remote changes for the current repository and all its submodules
	#plsub = !"git pull; git submodule foreach git pull origin master"


	# log section
	# View abbreviated SHA, description, and history graph of the latest 20 commits
	graph = log --pretty=oneline --graph --abbrev-commit --all --decorate


	# find section
	# Find branches containing commit
	fbc = "!f() { git branch -a --contains $1; }; f"

	# Find tags containing commit
	ftc = "!f() { git describe --always --contains $1; }; f"

	# Find commits by source code
	fcs = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"

	# Find commits by commit message
	fcm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"


	# usefull command section
    # change last commit
    amend = commit --amend -C HEAD

    # undo last commit
    undo = reset --soft HEAD^

    # standup
    standup = log --since '1 day ago' --oneline --author <YOUREMAIL>

	# Show the diff between the latest commit and the current state
	sincelastcommit = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

	# Remove branches that have already been merged with master
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	# Treat spaces before tabs, lines that are indented with 8 or more spaces, and
	# all kinds of trailing whitespace as an error.
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of
	# a line
	whitespace = space-before-tab,indent-with-non-tab,trailing-space
[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto
    interactive = auto
[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

# URL shorthands
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"

[push]
	default = tracking
