mklink /H [home-dir-absolute-path]\.atom [dotfile-dir-absolute-path]\.atom
mklink /H [home-dir-absolute-path]\.composer [dotfile-dir-absolute-path]\.composer
mklink /H [home-dir-absolute-path]\.config [dotfile-dir-absolute-path]\.config
mklink /H [home-dir-absolute-path]\.git-prompt [dotfile-dir-absolute-path]\.git-prompt
mklink /H [home-dir-absolute-path]\.ssh [dotfile-dir-absolute-path]\.ssh
mklink /H [home-dir-absolute-path]\scripts [dotfile-dir-absolute-path]\scripts
mklink /H [home-dir-absolute-path]\.aliases [dotfile-dir-absolute-path]\.aliases
mklink /H [home-dir-absolute-path]\.bash_prompt [dotfile-dir-absolute-path]\.bash_prompt
mklink /H [home-dir-absolute-path]\.bashrc [dotfile-dir-absolute-path]\.bashrc
mklink /H [home-dir-absolute-path]\.exports [dotfile-dir-absolute-path]\.exports
mklink /H [home-dir-absolute-path]\.functions [dotfile-dir-absolute-path]\.functions
mklink /H [home-dir-absolute-path]\.git_prompt [dotfile-dir-absolute-path]\.git_prompt
mklink /H [home-dir-absolute-path]\.gitattributes [dotfile-dir-absolute-path]\.gitattributes
mklink /H [home-dir-absolute-path]\.gitconfig [dotfile-dir-absolute-path]\.gitconfig
mklink /H [home-dir-absolute-path]\.gitignore [dotfile-dir-absolute-path]\.gitignore
mklink /H [home-dir-absolute-path]\.inputrc [dotfile-dir-absolute-path]\.inputrc
mklink /H [home-dir-absolute-path]\.profile [dotfile-dir-absolute-path]\.profile
mklink /H [home-dir-absolute-path]\.vimrc [dotfile-dir-absolute-path]\.vimrc
