"*":
  "atom-autocomplete-php": {}
  "atom-beautify":
    analytics: false
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "linter-markdown"
      "autocomplete-go"
      "go-config"
      "go-get"
      "gofmt"
      "gorename"
      "navigator-godef"
      "tester-go"
      "builder-go"
      "go-plus"
      "gometalinter-linter"
      "line-ending-selector"
    ]
    projectHome: "~/workspace"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "DejaVu Sans Mono"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "7ae2a45f-bca0-f9f8-6c74-969dc34cdc17"
  "go-plus": {}
  linter: {}
  "linter-eslint": {}
  "linter-php": {}
  "linter-phpcs": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".ini.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
