"*":
  "exception-reporting":
    userId: "7ae2a45f-bca0-f9f8-6c74-969dc34cdc17"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    projectHome: "F:\\workspace"
    disabledPackages: [
      "linter-markdown"
    ]
  editor:
    invisibles: {}
    fontSize: 16
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
    tabLength: 4
    preferredLineLength: 120
    zoomFontWhenCtrlScrolling: false
    fontFamily: "DejaVu Sans Mono"
  "linter-phpcs": {}
  "linter-php": {}
  "atom-autocomplete-php": {}
  "go-plus": {}
  "atom-beautify":
    analytics: false
  "linter-eslint": {}
  whitespace:
    ensureSingleTrailingNewline: false
".ini.source":
  editor:
    preferredLineLength: 120
