/* make system font more visible */
* {
    color: #272822;
}
/* revert color for ghostty tab bar and UI */
#ghostty-window,
#ghostty-window *,
.ghostty-window,
.ghostty-window *,
tabbar,
tabbar *,
popover,
popover *,
menu,
menu *,
dialog,
dialog *,
window.dialog,
window.dialog *,
window.modal,
window.modal *,
adw-dialog,
adw-dialog * {
    color: @window_fg_color;
}
/* restore legible text color on tooltips */
tooltip,
tooltip *,
.tooltip,
.tooltip * {
    color: #ffffff;
}
/* remove the heavy titlebar on gnome terminal */
terminal-window headerbar *,
terminal-window .titlebar {
    background-image: none;
    background-color: transparent;
    margin-top: -100px;
    border: none;
}

/* remove rounded corners */
terminal-window decoration {
    border-radius: 0px 0px 0px 0px
}

/* give some space inside terminal for prompt */
vte-terminal {
    padding: 10px 20px 20px 20px;
}
